:root {
  /* css peremennye */
  /* fonts */
  --main-font: Roboto;
  --secondary-font: Raleway;

  /* text colors */
  --accent-color: #2196f3;
  --body-color: #212121;
  --white-color: #ffffff;
  /* bg color */
  --bg-color-layout: #2f303a;
  --transition-property: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font), sans-serif; /*доминантный шрифт - главный  */
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 0 20px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}

.accent-header {
  color: var(--body-color);
}

.accent-footer {
  color: var(--white-color);
}

.header-nav > .active > a,
.header-nav > .active > a {
  color: var(--accent-color);
  cursor: pointer;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link {
  position: relative;
  padding-bottom: 28px;
  text-decoration: none;
  margin-right: 50px;
  color: var(--body-color);
}

.header-nav-link::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover::after {
  opacity: 1;
}

.header-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-mail-info {
  margin-right: 50px;
}

.header-mail-info,
.header-tel-num {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

.header-mail-info:hover,
.header-mail-info:focus,
.header-tel-num:hover,
.header-tel-num:focus {
  color: var(--accent-color);
}

.icon-envelope,
.icon-Vector {
  margin-right: 10px;
  fill: #757575;
}

.header-mail-info:hover .icon-envelope,
.header-mail-info:focus .icon-envelope,
.header-tel-num:hover .icon-Vector,
.header-tel-num:focus .icon-Vector {
  fill: var(
    --accent-color
  ); /*nasleduet u roditelya to est u header-mail-info */
}

/*ГЕРОЙ*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Imgbg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0px 200px 0px;
}

.hero-title {
  margin: 0 auto;
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.34;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.button {
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.primary {
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: block;
  margin: 30px auto 0px auto;
}

.button:hover,
.button:focus {
  background: var(--accent-color);
}

/*Преимущества */

.section-feature {
  padding-bottom: 0px;
}

.feature-list {
  display: flex;
}

.feature-list-container {
  margin-right: 30px;
  width: 270px;
}

.feature-list-container:last-child {
  margin-right: 0;
}

.feature-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  color: var(--body-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list-text {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.icon-group-bg {
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-item + .socials-item {
  margin-left: 10px;
}

.socials-lin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #afb1b8;
}

.socials-lin:focus .socials-icon,
.socials-lin:hover .socials-icon {
  fill: var(--white-color);
}

.socials-lin:focus,
.socials-lin:hover {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

/*ПРИМЕРЫ РАБОТ*/

.section-container {
  flex-direction: column;
}

.work-title,
.team,
.regular-customers-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.work-image-center {
  margin: 0px 30px;
}

.work-list {
  display: flex;
}

/*СПИСОК КОМАНДЫ*/

.team-section {
  background-color: #f5f4fa;
  padding: 94px 0px 94px 0px;
}

.team-container {
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-item:first-child {
  margin-left: 0;
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-list-item {
  margin-right: 30px;
  width: 270px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 30px 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--body-color);
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Cтили портфолио */
.border {
  border-bottom: 1px solid #ececec;
}

/* Портфолио нав список */
.button1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
}

.button2 {
  color: var(--body-color);
  border: 0px solid #008cba;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  padding: 9px 18px;
}

.button2:hover,
.button2:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio list */
.portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-app-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-list:first-child {
  margin-left: 0px;
}

.portfolio-list-container {
  background: var(--white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-container:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-thumb {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: -1px;
}

.portfolio-list-container:hover .product-actions {
  opacity: 1;
}
.product-thumb:hover .product-actions {
  transform: translateY(0);
}
.product-actions {
  position: absolute;
  top: 0;
  height: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item {
  margin: 20px 0px 20px 24px;
}

.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--body-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

/* customers */
.customers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.regular-customers-list {
  display: flex;
}

.customers-list-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-border:last-child {
  margin-right: 0px;
}

.customers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-border:focus,
.customers-list-border:hover {
  border-color: var(--accent-color);
}

.customers-list-border:focus .customers-icon,
.customers-list-border:hover .customers-icon {
  fill: #2196f3;
}

/*FOOTER*/
.footer {
  padding: 60px 0px 60px 0px;
  background-color: var(--bg-color-layout);
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-address {
  font-style: normal;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
}

.footer-mail-info,
.footer-tel-number {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.footer-mail-info:hover,
.footer-mail-info:focus,
.footer-tel-number:hover,
.footer-tel-number:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 26px;
  color: var(--accent-color);
  display: block;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-address-text {
  margin-bottom: 9px;
}

.footer-address-text:last-child {
  margin: 0;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  height: 44px;
}

.footer-newsletter,
.footer-icon-socials {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-left: 70px;
}

.footer-newsletter {
  margin-left: 93px;
}

.footer-socials-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials-lin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-socials-icon {
  fill: var(--white-color);
}

.footer-socials-lin:focus.footer-socials-icon,
.footer-socials-lin:hover.footer-socials-icon {
  fill: var(--white-color);
}

.footer-socials-lin:focus,
.footer-socials-lin:hover {
  background-color: var(--accent-color);
}

.footer-newsletter-form {
  display: flex;
  align-items: center;
}

.footer-title {
  margin-bottom: 20px;
}

.footer-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
}

.footer-input:hover {
  border: 1px solid #2196f3;
}

.footer-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  padding: 4px 29px;
  border: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
}

.footer-btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
/* MODAL WINDOW */

.modal-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 1;
  transition: opacity 200ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-container.is-hidden {
  visibility: visible;
  opacity: 1;
  /* pointer-events: none; */
}

._2K878 .FrbGt {
  display: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-label:hover .modal-input {
  border: 1px solid #2196f3;
}

.modal-label:hover .inner-textarea {
  border-color: #2196f3;
}
.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-input:not(:placeholder-shown) {
  border: 1px solid #2196f3;
}

.modal-close-icon:hover {
  fill: #2196f3;
}

.modal-close-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label:hover .modal-icon,
.modal-input:focus + .modal-icon,
.modal-input:not(:placeholder-shown) + .modal-icon {
  fill: #2196f3;
}

.modal-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.modal-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  margin-bottom: 20px;
}

.inner-textarea {
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inner-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.agreement-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-input {
  display: none;
}

.agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 9px;
  border-width: 2px;
  border-style: solid;
  border-color: #212121;
  border-radius: 2px;
}

.agreement-input:checked + .agreement-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.agreement-link {
  color: #2196f3;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
